<section>
	<div class="section section-one">
	Content development <b>+</b> <br>
	Copywriting <b>+</b> <br>
	Editing & Proofreading <b>+</b> <br>
	Creative Communications <b>+</b> <br>
	</div>
	<div class="section section-two">
	GOOD WORDS MAKE GREAT BUSINESS
	</div>
	<div class="section section-three">
	At Full Stop Editorial, we understand that content does more than sell a product or service: It tells a story about who you are, and how you make a difference in people’s lives. 
	</div>
	<div id="about" class="section section-four">
		<h2>Full Stop can help you tell your story through:</h2>
		<br>
		<ul>
			<li>
				copywriting for web, email campaigns, reports, newsletters, and social media 
			</li>
			<li>
				creating compelling marketing copy and campaign collateral
			</li>
			<li>
				editing your projects, reports, stories or other 
			</li>
			<li>
				article writing for blogs, social media or media
			</li>
			<li>
				developing press tools such as media releases or advisories
			</li>
			<li>
				using plain language techniques to get your point across
			</li>
			<li>
				consulting on your creative communications
			</li> 
			<li>
				laying out and editing publications, reports, or documents
			</li>
			<li>
				perfecting your slides for presentations and/or assisting with your speaking notes 
			</li>
		</ul>
	</div>
	<div id="recent" class="section section-five">
		<h2>Recent Projects</h2>
		<br><br>
		<div class="row">
			<div class="4u 12u$(medium) work-item">
			<div class="item-title">Repair Café Toronto</div>
				Created a youth-focused social media campaign.
			</div>
			<div class="4u 12u$(medium) work-item">
			<div class="item-title">Scholars Education Centre</div>
				Copywriting for marketing and social media, curriculum edits, communications strategy
			</div>
			<div class="4u 12u$(medium) work-item last">
			<div class="item-title">Multiple Sclerosis Society of Canada</div>
				Copywriting and editing collateral for fundraising events.
			</div>
		</div>
	</div>
</section>
